<?xml version="1.0" encoding="UTF-8" ?>

<!-- 针对于  UserMapper 接口的 SQL 映射文件 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xty.mapper.UserMapper">

    <insert id="add">
        insert into user(username, password, email)
        values (#{username}, #{password}, #{email});
    </insert>

    <insert id="addUser">
        insert into user(username, password, email) values( #{username} , #{password} , #{email} );
    </insert>

    <delete id="deleteById">
        delete
        from user
        where id = #{id};
    </delete>

    <!-- select ：查询语句 ===> 查出结果 ,什么类型？
        id="selectAll" 指定这条sql语句是 UserMapper 接口中的 selectAll() 方法要执行的 sql语句
        resultType="com.xty.pojo.User"   指定查询结果封装为 User 对象
     -->
    <select id="selectAll" resultType="User">
        select *
        from user;
    </select>

    <select id="selectById" resultType="User">
        select *
        from user
        where id = #{di};
    </select>

    <select id="selectByUsername" resultType="User">
        select *
        from user
        where username = #{asd};
    </select>

    <update id="changePassword">
        update user
        set password = #{ps}
        where id = #{i};
    </update>

    <update id="update">
        update user
        set username = #{user.username},
            password = #{user.password},
            email    = #{user.email}
        where id = #{id};
    </update>

</mapper>